@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg1: theme(colors.bg1);
    --color-bg2: theme(colors.bg2);
    --color-accent: theme(colors.accent);
    --color-primary: theme(colors.primary);
    --color-primary2: theme(colors.primary2);
}

body {
    height: 100%;
    background:
            radial-gradient(circle at 20% 20%, var(--color-bg1) 0%, transparent 10%),
            radial-gradient(circle at 80% 30%, var(--color-bg2) 0%, transparent 40%),
            radial-gradient(circle at 50% 70%, var(--color-bg1) 0%, transparent 35%),
            radial-gradient(circle at 30% 80%, var(--color-bg2) 0%, transparent 50%),
            var(--color-bg1);
    background-size: cover;
    padding: 0 1em 0 3em;
}